.current-weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  margin: 0 150px 0 80px;
}

.location {
  font-size: 45px;
  font-weight: bold;
}

.location::first-letter {
  text-transform: capitalize;
}

.current-weather__description {
  font-size: 38px;
}

.current-weather__temp {
  font-size: 65px;
}
