.hourly-forcast-container {
  display: flex;
  margin-top: 30px;
  margin-right: 40px;
  overflow: auto;
  white-space: nowrap;
  border-top: 1px solid #8c8c8d;
  border-bottom: 1px solid #8c8c8d;
}

.hour-forcast {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 50px;
}

.test {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
  /* margin-bottom: 80px; */

  border-bottom: 1px solid #8c8c8d;
}

.weekday {
  font-weight: bold;
}
