.test {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  /* margin-bottom: 80px; */

  border-bottom: 1px solid #8c8c8d;
}

.weekday {
  font-weight: bold;
}

.week-forcast {
  width: 80vw;
  margin: 0 auto;
}
